<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改用户信息界面</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
<link rel="stylesheet" href="layui/plugs/formSelects/formSelects-v4.css" th:href="@{/layui/plugs/formSelects/formSelects-v4.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- <script type="text/javascript" src="layui/plugs/formSelects/formSelects-v4.js" th:src="@{/layui/plugs/formSelects/formSelects-v4.js}"></script> -->
<style type="text/css">
.lzsCenter {
	width: 300px;
	margin: 0 auto;
}
</style>
</head>
<body>
	<div class="lzsCenter">
		<form class="layui-form" action="" method="post" id="userUpdateForm">
		<input type="text" hidden="true" th:field="${sysUser.userId}">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="required" autocomplete="off"
							class="layui-input" th:field="${sysUser.userName}">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">手机</label>
					<div class="layui-input-block">
						<input type="tel" lay-verify="required|phone" autocomplete="off"
							class="layui-input" th:field="${sysUser.mobile}">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" lay-verify="email" autocomplete="off"
							class="layui-input" th:field="${sysUser.email}">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<input type="text" autocomplete="off" class="layui-input"
							th:field="${sysUser.remake}">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">角色</label>
					<div class="layui-input-block">
						<select xm-select="select-roles" xm-select-search="" name="roleIds" id="roleIds"  th:rolesId="${roleIdList}">
						    <option value="">---请选择---</option>
						    <option th:each="role : ${sysRoles}" th:value="${role.roleId}"
									th:text="${role.roleName}">option</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
					<input type="checkbox" lay-skin="switch" id="status" name="status" value= "1"
						lay-text="开启|禁用" th:checked="${sysUser.status} eq 1 ? true:false" >
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submitFilter">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
<script type="text/javascript">
    //s全局定义一次, 加载formSelects
    layui.config({
        base: '/layui/plugs/formSelects/' //s此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    //s加载模块
    layui.use(['form', 'formSelects', 'layer', 'table'], function(){
    	
    	//s注意：parent 是 JS 自带的全局对象，可用于操作父页面
    	var index = parent.layer.getFrameIndex(window.name); //s获取窗口索引
    	var form = layui.form; //s只有执行了这一步，部分表单元素才会自动修饰成功
    	var table = layui.table;
    	var formSelects = layui.formSelects;
    	var data = $("select[id='roleIds']").attr("rolesId");
    	console.log("角色"+data)
    	//s截取字符串 【1,2】-》1,2  String类型
    	var rolesId = data.substring(data.indexOf("[")+1,data.indexOf("]"))
    	//s分割字符串 变为array类型
    	var arr = rolesId.split(",")
    	//s将里面的 String 1,2 转为 int 1,2 
    	var roleIdList= new Array() 
    	for (var i=0;i<arr.length;i++){
    		roleIdList.push(parseInt(arr[i]));
    	}
    	//layer.msg(arr+$.type(arr)+roleIdList+$.type(roleIdList)+"----"+parseInt(arr))
		formSelects.value('select-roles', roleIdList, true); 
    	//s监听提交
		form.on('submit(submitFilter)', function(data){
		  	//layer.msg(JSON.stringify(data.field)+"-----"+rolesId+"----------"+$('#userUpdateForm').serialize());
		  	$.ajax({
		  		url : "/sys/user/update",
		  		dateType : "json",
		  		type : "post",
		  		contentType:"application/json",
		  		data : JSON.stringify(data.field), 
		  		success : function(data) {
		  			if(data.status==200){
		  				parent.layer.msg(data.msg,{icon: 1});
		  			}else{
		  				parent.layer.msg(data.msg,{icon: 2});
		  			}
		  			parent.layer.close(index);
		  		},
		  		error : function(){
		  			parent.layer.msg('修改失败', {icon: 2});
		  			parent.layer.close(index);
		  		}
		  	})
		  
		  	//s可以在这里 parent.table.reload
		  	return false;
		});
		
		//但是，如果你的HTML是动态生成的，自动渲染就会失效
		//因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
		 form.render();
    });
</script>

</body>
</html>