<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.system.entity.SysUserRole">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <insert id="insert" parameterType="com.system.entity.SysUserRole">
    insert into sys_user_role (role_id, user_id)
    values (#{roleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.system.entity.SysUserRole">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- s根据用户Id删除用户权限 -->
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
  	delete from sys_user_role
  	where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <!-- s根据用户id 赋予权限 -->
  <insert id="save">
	  insert into sys_user_role
		(
			`user_id`, 
			`role_id`
		)
		values
		<foreach collection="roleIdArray" item="item" index="index" separator="," >
		(
			#{userId}, 
			#{item}
		)
		</foreach>
  </insert>
  <!-- s根据用户Ids 删除关联数据 -->
  <delete id="deleteByUserIds" parameterType="java.util.List">
  	delete from sys_user_role 
  	where user_id in 
  	<foreach collection="list" item="itemId" open="(" close=")" separator="," index="index">
  		#{itemId}
  	</foreach>
  </delete>
  <!-- s根据角色ids删除关联数据 -->
  <delete id="deleteByRoleIds" parameterType="java.util.List">
  	delete from sys_user_role 
  	where role_id in
  	<foreach collection="list" item="itemId" open="(" close=")" index="index" separator=",">
  		#{itemId}
  	</foreach>
  </delete>
</mapper>